[submodule "src/lib/ecs-js"]
	path = src/lib/ecs-js
	url = https://github.com/PJensen/ecs-js.git
[submodule "src/lib/deity-js"]
	path = src/lib/deity-js
	url = https://github.com/PJensen/Deity-js.git
