[submodule "public/src/lib/ecs-js"]
	path = public/src/lib/ecs-js
	url = https://github.com/PJensen/ecs-js.git
[submodule "public/src/lib/deity-js"]
	path = public/src/lib/deity-js
	url = https://github.com/PJensen/Deity-js.git
